{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Contact BEST-FIX</h2>

<p>
    For questions, service updates, or general information, contact BEST-FIX.
</p>

<div class="contact-layout">

    <div class="contact-info-box">
        <p><strong>Phone/Text:</strong> +1 (463) 203-2330</p>

        <p>
            <strong>Email:</strong>
            <a href="mailto:support@getbestfix.com">support@getbestfix.com</a>
        </p>

        <p>
            <strong>Website:</strong>
            <a href="https://www.getbestfix.com/" target="_blank">www.getbestfix.com</a>
        </p>

        <h3>Need service?</h3>
        <p>
            If you need help with computer repair, phone help, Wi-Fi, printers,
            website services, or small business IT support, please use the Book Service page.
        </p>

        <p>
            <a class="page-link" href="{% url 'book_service' %}">Book a Service Request</a>
        </p>
    </div>

    <div class="contact-image-box">
        <img src="{% static 'images/bestfix.png' %}" alt="BEST-FIX tech support">
    </div>

</div>
{% endblock %}