{% extends 'base.html' %}

{% block content %}
<h2>Service Pricing</h2>

<p>
    Final price depends on the issue, time needed, and travel distance.
    You will know the price before service begins.
</p>

<table class="pricing-table">
    <tr>
        <th>Service</th>
        <th>Starting Price</th>
    </tr>
    <tr>
        <td>Basic Tech Help Visit</td>
        <td>Starting at $60</td>
    </tr>
    <tr>
        <td>Computer Cleanup</td>
        <td>$70 – $100</td>
    </tr>
    <tr>
        <td>Data Transfer</td>
        <td>$80 – $130</td>
    </tr>
    <tr>
        <td>Wi-Fi / Printer Setup</td>
        <td>$60 – $100</td>
    </tr>
    <tr>
        <td>Phone Backup / Setup</td>
        <td>$50 – $90</td>
    </tr>
    <tr>
        <td>Small Business IT Help</td>
        <td>Quote after review</td>
    </tr>
      <tr>
        <th>Website Services</th>
        <th>Website Price</th>
    </tr>
    <tr>
    <tr>
    <td>One-Page Business Website</td>
    <td>$250 – $500</td>
</tr>
<tr>
    <td>3–5 Page Business Website</td>
    <td>$500 – $1,200</td>
</tr>
<tr>
    <td>Website Updates</td>
    <td>$40 – $75/hr</td>
</tr>
<tr>
    <td>Domain / Hosting Setup</td>
    <td>$75 – $150</td>
</tr>
</table>
{% endblock %}